* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
}
.texto {
    width: 300px;
    height: 25px;
    outline: none;
    border: 2px solid white;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 0 5px 10px 0 black;
}
.boton {
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 100px;
    background-color: rgb(53, 53, 53);
    margin: 0 10px;
    box-shadow: 0 5px 10px 0 black;
}
p {
    font-weight: bold;
    font-size: 25px;
}