* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 67px);
    grid-template-areas: "start center end" "b u i" "txt txt txt" "p p p";
    align-content: center;
    align-items: center;
}
.b-s {
    grid-area: start;
}
.b-c {
    grid-area: center;
}
.b-e {
    grid-area: end;
}
.t-b {
    grid-area: b;
}
.t-u {
    grid-area: u;
}
.t-i {
    grid-area: i;
}
.txt {
    grid-area: txt;
    text-align: center;
}
.texto {
    width: 300px;
    height: 25px;
    outline: none;
    border: 2px solid white;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 black;
}
button {
    text-align: center;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 100px;
    background-color: rgb(53, 53, 53);
    margin: 10px;
    box-shadow: 0 5px 10px 0 black;
}
p {
    font-size: 25px;
    text-align: center;
    grid-area: p;
}
@media screen and (max-width: 570px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 67px);
        grid-template-areas: "start" "center" "end" "b" "u" "i" "txt" "p";
    }
    .txt {
        grid-area: txt;
    }
    .texto {
        width: 90%;
    }
}
